@model IEnumerable<Message>

<div class="content">
    <div class="container-fluid">
        <!-- your content here -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Request Table</h4>
                        <p class="card-category"> Your Requests and status</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">

                                <th>
                                    Message
                                </th>
                                </thead>
                                <tbody>
                                    @foreach (var r in Model)
                                    {
                                        <tr>

                                            <td>@r.MessageBody</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--End Body content-->
    </div>
</div>
<div class="col-xs-12 col-md-9 chat__body">
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group chat__main">
            </ul>
        </div>
        <div class="chat__type__body">
            <div class="chat__type">
                @*<textarea id="msg_box" placeholder="Type your message"></textarea>
                    <form method="post">
                        <button asp-action="SendMessage" type="submit" class="btn btn-info btn-rounded btn-sm waves-effect waves-light">Send</button>
                    </form>*@
                <form asp-action="SendMessage" asp-controller="Users">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label bmd-label-floating">Message Body</label>
                        <input name="messageBody" class="form-control" placeholder="" />
                        <input name="requestId" value="@ViewBag.reqId" hidden />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div class="chat__typing">
            <span id="typerDisplay"></span>
        </div>
    </div>
</div>